
; Iron Dragon Server Daemon Configuration File

$STARTUP_OPTIONS
   Run_As_Daemon                = 1
   Log_Filename                 = data/idpcd.log
   Data_Directory               = data
   Port                         = 44099

$LOG_OPTIONS
   CHANNEL_DEBUG                = 1
   CHANNEL_CONNECTIONLOG        = 1
   CHANNEL_ACTIVITYLOG          = 1
   CHANNEL_ERRORLOG             = 1
   CHANNEL_MESSAGE_DETAIL       = 0
   CHANNEL_DATETIME             = 0
   CHANNEL_EXCEPTIONLOG         = 0



